@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: inline;
}

nav {
  background-color: #3338a0;
  padding: 5px;
  position: sticky;
  top: 0;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
}

nav li {
  list-style-type: none;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;

  color: white;
}

nav a:hover {
  font-weight: bold;
}

main {
  padding: 20px;

  display: flex;
  gap: 1.5rem;
}

aside {
  flex: 1;
}
.table-information {
  width: 100%;
  border-collapse: collapse;
}

.table-information th,
.table-information td {
  text-align: left;
  padding: 8px 12px;
}

.table-information th {
  width: 40%;
  color: #3338a0;
  font-weight: 600;
}

.table-information td {
  width: 60%;
  color: #333;
}

footer {
  padding: 20px;
  color: #fff;
  background-color: #00a2c6;
}

h2,
h3 {
  color: #c59560;
}

#content {
  flex: 5;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: white;
  background-image: url(/assets/image/background-jumbotron.jpg);
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  border-radius: 15px;

  object-fit: cover;
  object-position: center;
}

.profile img {
  width: 200px;
}

.card {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  padding: 8px 0;
}

.dropdown-content li a {
  color: #3338a0;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

.dropdown-content li a:hover {
  background-color: #00c8eb;
  color: white;
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }

  main aside {
    align-self: stretch;
  }
}
